*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: Arial;
}
#main{
    background-image: url(../bord.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 7.25vw;
}
#main>*{
    max-width: 800px;
    padding: 2rem 1rem;
    margin: auto;
}
h1{
    padding: 4rem 0 2rem 0!important;
    text-align: center;
    font-size: 2em;
}
.hero{
    font-size: 0;
    text-align: center;
    max-width: 808px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}
.hero img{
    width: calc(20vw - 16px);
    max-width: calc(160px - 12px);
    height: auto;
}

#main>p{
    max-width: 600px;
}
h2{
    padding: 2em 0;
}
.liste{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.item{
    display: inline-flex;
    align-items: center;
    /* border: 1px solid rgba(0,0,0,0.2); */
    gap: 1rem;
    text-align: left;
    flex: 1 0 100%;
}

@media only screen and (min-width: 50rem) {
    .item{
        flex: 1 0 calc(50% - 1rem);
    }
}

.nummer{
    font-size: 8rem;
    line-height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 10rem;
    position: relative;
    width: 7rem;
    /* background-color: red; */
    flex: 0 0 7rem;
    /* padding: .5rem; */
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.image div{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem 1rem;
    background-color: rgba(256,256,256,0.8);
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word; /* Non standard for WebKit */
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 4vw;
    }
}